@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: "Inconsolata", monospace;
}

html{
    scroll-behavior: smooth;
}


@layer utilities{
    .clip-path-custom{
        background: linear-gradient(135deg, #0a0a0a 0%, #1a0f00 100%);
        clip-path: polygon(0 0, 100% 0, 100% 98%, 75% 95%, 0 100%);
    }
    .clip-path-custom-2{
        background: linear-gradient(135deg, #0a0a0a 0%, #1a0f00 100%);
        clip-path: polygon(0 0, 100% 0, 100% 98%, 25% 95%, 0 100%);
    }
}

body {
  background-color: #0a0a0a;
}